# Ignore node modules and logs
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.local

# Ignore version control and config files
.git
.gitignore
.vscode/
.idea/

# Ignore build directory (if you're generating build locally)
dist/
build/

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db

